<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="paularanas.com.capstone_project">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider android:name=".data.GardenProvider"
            android:authorities="com.paularanas.capstone_project.gardenprovider"/>

        <service android:name=".data.FetchGardensService"
            android:exported="false"/>
        <activity
            android:name=".ui.GPSMapActivity"
            android:label="@string/title_activity_gpsmap"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.GardenInfoActivity" />
        <activity android:name=".ui.SpaceViewActivity"></activity>
    </application>

</manifest>